* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-size: 1rem;
  --hero-font-size: 4.5rem;
  --hero-media-font-size: 3rem;
  --btn-font-size: 1.25rem;
  --line-height: 1.5rem;
  --gap: 2.875rem;
  --primary-color: #ffffff;
  --secondary-color: #6f35e2;
  --primary-font-weight: 400;
  --secondary-font-weight: 600;
  --midium-font-weight: 500;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}

.container {
  max-width: 1440px;
  width: 81.94%;
}

.header-section {
  position: relative;
  z-index: 10;
}
.header-section .logo img {
  background: transparent;
}
.header-section .navigation-bar .nav-list {
  display: flex;
  align-items: center;
  gap: var(--gap);
  justify-content: flex-end;
}
.header-section .navigation-bar .nav-list li {
  list-style-type: none;
}
.header-section .navigation-bar .nav-list li a {
  text-decoration: none;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.header-section .navigation-bar .nav-list li:hover {
  border: 2px solid var(--secondary-color);
  box-shadow: 0 2px 4px var(--primary-color);
  border-radius: 5px;
  padding: 15px;
}
.header-section .navigation-bar .nav-list .nav-btn a {
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--btn-font-size);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header-section .navigation-bar .nav-list .nav-btn a:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 2px 5px var(--primary-color);
  background-color: transparent;
}

.toggle-btn {
  display: none;
  position: absolute;
  right: 50px;
  color: #ffffff;
  text-decoration: none;
  width: 40px;
  height: 21px;
}

.hero-section {
  background: linear-gradient(to bottom, #0b0d18, #141625);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-section .hero-wrap h2 {
  font-size: var(--hero-font-size);
}
.hero-section .hero-wrap h2 .hero-word {
  color: var(--secondary-color);
}
.hero-section p {
  font-size: var(--btn-font-size);
  font-weight: var(--primary-font-weight);
  line-height: var(--line-height);
  margin: var(--btn-font-size) auto;
}
.hero-section .btn-primary {
  display: flex;
  gap: var(--line-height);
  align-items: center;
  justify-content: center;
}
.hero-section .btn-primary a {
  background-color: var(--secondary-color);
  padding: 15px 24px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--btn-font-size);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hero-section .btn-primary a:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 2px 2px 2px var(--primary-color);
  background-color: transparent;
}

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .header-section .logo img {
    width: 170px;
    height: auto;
  }
  .header-section .toggle-btn {
    display: block;
    right: 0;
    top: 18px;
  }
  .header-section .navigation-bar {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.4s ease-in-out;
  }
  .header-section .navigation-bar.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .header-section .nav-list {
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    background-color: #0b0d18;
    padding-bottom: 100px;
  }
  .hero-section {
    padding-top: 0;
  }
  .hero-section .hero-wrap h2 {
    font-size: var(--hero-media-font-size);
  }
  .hero-section .hero-wrap p {
    font-size: var(--primary-font-size);
  }
}/*# sourceMappingURL=style.css.map */