* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-font-size: 1rem;
  --hero-font-size: 4.5rem;
  --hero-media-font-size: 3rem;
  --btn-font-size: 1.25rem;
  --line-height: 1.5rem;
  --title-font-size: 2rem;
  --sub-title-font-size: 1.125rem;
  --gap: 2.875rem;
  --primary-color: #ffffff;
  --secondary-color: #6f35e2;
  --primary-font-weight: 400;
  --secondary-font-weight: 600;
  --midium-font-weight: 500;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}
.container {
  max-width: 1440px;
  width: 81.94%;
}
// shaerd styles
.padding {
  padding-top: 130px;
}
.hero-padding {
  padding: 230px 0 100px 0;
}
.header-section {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  .logo {
    img {
      background: transparent;
    }
  }
  .navigation-bar {
    .nav-list {
      display: flex;
      align-items: center;
      gap: var(--gap);
      justify-content: flex-end;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          font-weight: var(--primary-font-weight);
          font-size: var(--primary-font-size);
          color: var(--primary-color);
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          border: 2px solid var(--secondary-color);
          box-shadow: 0 2px 4px var(--primary-color);
          border-radius: 5px;
          padding: 15px;
        }
      }
      .nav-btn {
        a {
          background-color: var(--secondary-color);
          padding: 15px;
          border-radius: 12px;
          text-decoration: none;
          color: var(--primary-color);
          font-weight: var(--secondary-font-weight);
          font-size: var(--btn-font-size);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            border: 1px solid var(--secondary-color);
            box-shadow: 0 2px 5px var(--primary-color);
            background-color: transparent;
          }
        }
      }
    }
  }
}
// mobile-menu
.toggle-btn {
  display: none;
  position: absolute;
  right: 50px;
  color: #ffffff;
  text-decoration: none;
  width: 40px;
  height: 21px;
}
// hero-section-style
.hero-section {
  position: relative;
  background: linear-gradient(to bottom, #0b0d18, #141625);
  text-align: center;
  .hero-wrap {
    h2 {
      font-size: var(--hero-font-size);
      .hero-word {
        color: var(--secondary-color);
      }
    }
  }
  p {
    font-size: var(--btn-font-size);
    font-weight: var(--primary-font-weight);
    line-height: var(--line-height);
    margin: var(--btn-font-size) auto;
  }
  .btn-primary {
    display: flex;
    gap: var(--line-height);
    align-items: center;
    justify-content: center;
    a {
      background-color: var(--secondary-color);
      padding: 15px 24px;
      border-radius: 12px;
      text-decoration: none;
      color: var(--primary-color);
      font-weight: var(--secondary-font-weight);
      font-size: var(--btn-font-size);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        border: 1px solid var(--secondary-color);
        box-shadow: 0 2px 2px 2px var(--primary-color);
        background-color: transparent;
      }
    }
  }
}
// intro section
.intro-section {
  .intro-img {
    img {
      max-width: 400px;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}
// sheard style
.title {
  font-size: var(--title-font-size);
  padding-bottom: var(--btn-font-size);
}
.sub-title {
  font-size: var(--sub-title-font-size);
  font-weight: var(--primary-font-weight);
  line-height: var(--line-height);
}
.background {
  background-color: #111218;
}
.text {
  text-align: center;
}
// my exparties section
//  what i do section
.card-title {
  font-size: var(--btn-font-size);
}
.card-sub-title {
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
}
.do-section {
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background: linear-gradient(to top, #0b0d18, #141625);
    padding: var(--line-height);
    line-height: var(--line-height);
    border: 1px solid rgba(111, 53, 226, 0.3);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    height: 266px;
    i {
      background-color: rgba(1, 3, 22, 0.9);
      padding: var(--line-height);
      color: var(--secondary-color);
      font-size: var(--line-height);
      border-radius: 50%;
      margin-bottom: var(--line-height);
    }
  }
}
// recent work section
.recent-work-section {
  .card {
    display: flex;
    margin-bottom: var(--line-height);
    color: var(--primary-color);
    background: linear-gradient(to top, #0b0d18, #141625);
    padding: var(--btn-font-size);
    line-height: var(--line-height);
    border: 1px solid rgba(111, 53, 226, 0.3);
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }
  .projects-link {
    a {
      text-decoration: none;
      color: var(--secondary-color);
      font-size: var(--sub-title-font-size);
      font-weight: var(--midium-font-weight);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: var(--btn-font-size);
      cursor: progress;
    }
  }
}
// what client say section
.client-review-section {
  .review-star {
    display: flex;
    color: #daa520;
    margin-bottom: var(--primary-font-size);
  }
  .card {
    display: flex;
    color: var(--primary-color);
    background: linear-gradient(to top, #0b0d18, #141625);
    padding: var(--btn-font-size);
    line-height: var(--line-height);
    border: 1px solid rgba(111, 53, 226, 0.3);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    height: 266px;
    .client-info {
      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        h3 {
          background-color: rgba(1, 3, 22, 0.9);
          padding: var(--sub-title-font-size);
          color: var(--primary-color);
          font-size: var(--line-height);
          border-radius: 50%;
          margin-bottom: var(--line-height);
        }
        p {
          font-size: var(--primary-font-size);
          font-weight: var(--primary-font-weight);
          color: #4f5053;
        }
      }
    }
  }
}
// let's work togather section
.work-section {
  padding-bottom: 130px;
  .submit-form {
    .form-field {
      margin-bottom: var(--line-height);
      input,
      textarea {
        width: 100%;
        background: linear-gradient(to top, #0b0d18, #141625);
        padding: var(--btn-font-size);
        color: var(--primary-color);
        border: 1px solid rgba(111, 53, 226, 0.3);
        border-radius: 5px;
      }
    }
    .form-button {
      button {
        position: relative;
        width: 100%;
        padding: var(--sub-title-font-size);
        background-color: var(--secondary-color);
        color: var(--primary-color);
        font-size: var(--btn-font-size);
        font-weight: var(--secondary-font-weight);
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: transparent;
        }
        &:before {
          content: "";
          position: absolute;
          border: 2px solid var(--secondary-color);
          box-shadow: 0 2px 4px var(--primary-color);
          border-radius: 12px;
          padding: 15px;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          visibility: hidden;
          opacity: 0;
          overflow: hidden;
          transition: all 0.4s ease-in-out;
        }
        &:hover:before {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .contact-link {
    .link {
      display: flex;
      align-items: center;
      i {
        background-color: rgba(1, 3, 22, 0.9);
        padding: var(--line-height);
        color: var(--secondary-color);
        font-size: var(--line-height);
        border-radius: 50%;
        margin-bottom: var(--line-height);
      }
      .link-title {
        a {
          color: var(--secondary-color);
          text-decoration: none;
        }
      }
    }
  }
}
// footer section
.footer-section {
  background: linear-gradient(to top, #0b0d18, #141625);
  text-align: center;
  padding: 30px 0 30px 0;
  color: #78797c;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--title-font-size);
    margin-bottom: var(--line-height);
    a {
      color: #78797c;
      font-size: var(--btn-font-size);
    }
  }
}
